bls-app/**__pycache__**
bls-app/*.pyc
bls-app/*.pyo
bls-app/*.pyd
bls-app/.venv
bls-app/.env

lambda-api/**__pycache__**
lambda-api/*.pyc
lambda-api/*.pyo
lambda-api/*.pyd
lambda-api/.venv
lambda-api/.env

analysis-app/**__pycache__**
analysis-app/*.pyc
analysis-app/*.pyo
analysis-app/*.pyd
analysis-app/.venv
analysis-app/.env