version: '3.9'

services:
  bls-app:
    build: ./bls-app
    container_name: bls-app
    ports:
      - "5000:5000"
    environment:
      - MINIO_ENDPOINT=minio:9000
      - MINIO_ACCESS_KEY=minioadmin
      - MINIO_SECRET_KEY=minioadmin
    depends_on:
      - minio-service

  minio-service:
    image: minio/minio
    container_name: minio-service
    ports:
      - "9005:9000"   # Custom API port
      - "9006:9001"   # Custom Console port
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data

volumes:
  minio-data:
